body{
    height:600px;
    width:500px;
    /* font-size:22px; */
    overflow: scroll;
    padding:0;
    margin:0;
    overflow-x: scroll;
    background: #259dd5;

}
:root{
    --btn-background:#0000008b;
}
::-webkit-scrollbar{
    width:10px;
}
*{
    box-sizing: border-box;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    font-size: 1.2rem;
    border-bottom:1px solid white;
    color: white;
    letter-spacing: 1px;
    margin:0 0 10px 0;
    padding:5px 0 5px 0;
    text-align: center;
}
h3 small{
    margin: 10px;
    /* margin-top: -5px; */
    padding: 3px 7px;
    border-radius: 50%;
    font-size: .7rem;
    font-weight: 400;
    background: #0000004d;
}
.first-page,.second-page{
    padding:10px;
    height:100vh;
    display:grid;
    grid-template-rows:1fr 12fr 1fr;
}
/* .first-page{
    display:none;

} */
input,textarea{
    width:100%;
    border-radius: 10px;
    border:none;
    background:#2f2d2d52;
    font-size: 1.1rem;
    outline:none;
    resize: none;
    padding:10px;
    color:white;
}
input[id=search]{
    border-radius: 20px;
    margin:5px 0;
    padding:7px 20px;
}
input::placeholder , textarea::placeholder{
    color:rgb(233, 231, 231);
}
textarea{
    height:80%;
    margin-top: 10px;
}
.info{
    color:white;
    text-align: center;
}
.buttons{
    text-align: center;
    margin-top:10px;
}
.buttons button{
    user-select:none;
    border:1px solid transparent;
    background:var(--btn-background);
    padding:7px 20px;
    color:white;
    border-radius:50px;
    cursor:pointer;
    outline:none;
    transition:.3s;
}
.buttons button:hover{
    background:rgb(209, 207, 207);
    color:black;
}
button[id=delete-all]:hover{
    background:rgb(233, 17, 17);
    border:1px solid white;
    color:white;
}
button img{
    margin-bottom:-5px;
}
.cards{
    height:100%;
    overflow-y:scroll;
}
.card{
    background:#ffffffa3;
    border-radius:10px;
    margin-bottom:5px;
}
.card .card-body{
    text-align: justify;
    background: rgb(243, 242, 242);
    padding:10px;
    border-radius: 0 0 10px 10px;
    word-wrap: break-word;
    margin:0;
}
.card .card-header{
    word-wrap: break-word;
    text-align: center;
    padding:5px 10px;
    background:#000000a3;
    color:white;
    border-radius:10px 10px 0 0;
    display: flex;
    justify-content: space-between;
}
.card-header a{
    color:inherit;
}
.card .card-header button{
    border:none;
    background:#ffffffaa;
    color:black;
    border-radius: 20px;
    cursor: pointer;
    transition:.3s;
    padding-bottom:.13rem;
}
.card-header button:hover{
    background: #e91616;
    color:white;
}
.card-header small{
    margin: .27rem 1rem 0 0;

}
.card .card-title{
    padding:2px;
    font-size:1.03rem;
    text-align: center;
    background: #00000044;
}
#file-input{
    display:none;
}
.notifier{
    padding:5px 20px;
    background:#0fce0f;
    color:white;
    position:fixed;
    bottom:50px;
    right:-100%;
    font-size:1.03rem;
    border-radius:10px;
    transition: right .3s ease-in-out;
}
.notifier-warn{
    background:#d5ad0f !important;
}
.notifier-danger{
    background: #e91616 !important;
}
.notifier-shown{
    right:20px;
}

